body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.navbar h1 {
    float: left;
    padding-right: 10px;
}
  
.navbar i:hover {
    background: #f1f1f1;
    color: black;
}
  
.navbar i.active {
    background-color: #04AA6D;
    color: white;
}

.navbar i {
    padding: 22px 20px;
}

.notearea {
    padding-top: 100px;
    display:flex;
    align-items:flex-start;
}

#imageSrcButton {
    height: 50px;
}

.fixed-action-btn{
    display: block;
    align-content: flex-end;
}

.card {
    width: 300px;
    margin-right: 20px;
}

.note-input {
    resize:none;
    scroll-behavior: auto;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height: 150px;
    width: 300px;

}

.button-row {
    display: flex;
    align-self: center;
    padding-bottom: 10px;
}

.page-nav {
    display: flex;
    align-self: center;
}
.submit-button:hover {
    background-color: lightgray;
}

.delete-button {
    width:120px;
}

.delete-button:hover {
    background-color: lightgray;
}

.edit-button {
    width:120px;
}

.edit-button:hover {
    background-color: lightgray;
}

.carousel-control-prev:hover {
    background-color: black;
}

.carousel-control-next:hover {
    background-color: black;
}

img {
    width: 300px;
    height: 300px;
}

  